html {
  height: 100%; }
  html body.flex-grid {
    height: 100%; }
    html body.flex-grid .container-fluid {
      width: 100%;
      height: 100%;
      display: block; }

body.flex-grid .col-1 {
  width: 8.333%; }

body.flex-grid .col-2 {
  width: 16.667%; }

body.flex-grid .col-3 {
  width: 25%; }

body.flex-grid .col-4 {
  width: 33.333%; }

body.flex-grid .col-5 {
  width: 41.667%; }

body.flex-grid .col-6 {
  width: 50%; }

body.flex-grid .col-7 {
  width: 58.333%; }

body.flex-grid .col-8 {
  width: 66.667%; }

body.flex-grid .col-9 {
  width: 75%; }

body.flex-grid .col-10 {
  width: 83.333%; }

body.flex-grid .col-11 {
  width: 91.667%; }

body.flex-grid .col-12 {
  width: 100%; }

body.flex-grid .row-h {
  display: flex;
  flex-direction: row;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  body.flex-grid .row-h .padding-sm {
    padding-left: 0.3rem;
    padding-right: 0.3rem; }
  body.flex-grid .row-h .padding-lg {
    padding-left: 0.8rem;
    padding-right: 0.8rem; }
  body.flex-grid .row-h .padding-xl {
    padding-left: 1.3rem;
    padding-right: 1.3rem; }
  body.flex-grid .row-h.center {
    justify-content: center; }
  body.flex-grid .row-h .stretch {
    flex-grow: 1; }
  body.flex-grid .row-h.stretch {
    flex-grow: 1; }
  body.flex-grid .row-h .shrink {
    flex-shrink: 1; }
  body.flex-grid .row-h.shrink {
    flex-shrink: 1; }
  body.flex-grid .row-h.items-start {
    justify-content: flex-start; }
  body.flex-grid .row-h.items-end {
    justify-content: flex-end; }
  body.flex-grid .row-h.items-center {
    justify-content: center; }
  body.flex-grid .row-h.items-baseline {
    justify-content: baseline; }

body.flex-grid .row-v {
  display: flex;
  flex-direction: column;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  body.flex-grid .row-v .padding-sm {
    padding-left: 0.3rem;
    padding-right: 0.3rem; }
  body.flex-grid .row-v .padding-lg {
    padding-left: 0.8rem;
    padding-right: 0.8rem; }
  body.flex-grid .row-v .padding-xl {
    padding-left: 1.3rem;
    padding-right: 1.3rem; }
  body.flex-grid .row-v.center {
    justify-content: center; }
  body.flex-grid .row-v .stretch {
    flex-grow: 1; }
  body.flex-grid .row-v.stretch {
    flex-grow: 1; }
  body.flex-grid .row-v .shrink {
    flex-shrink: 1; }
  body.flex-grid .row-v.shrink {
    flex-shrink: 1; }
  body.flex-grid .row-v.items-start {
    align-items: flex-start; }
  body.flex-grid .row-v.items-end {
    align-items: flex-end; }
  body.flex-grid .row-v.items-center {
    align-items: center; }
  body.flex-grid .row-v.items-baseline {
    align-items: baseline; }

.text.center {
  text-align: center; }

.text.left {
  text-align: left; }

.text.right {
  text-align: right; }
